@use "../../../presets" as *;
@use "../../../mixins" as *;

.cards {
  position: relative;

  padding-top: 40px;

  background-color: $color-gray-bg;
  &__container {
    @extend %container;
  }
  &__title-hidden {
    @include visually-hidden;
  }
  &__title {
    width: max-content;
    margin-bottom: 40px;

    background: linear-gradient($text-gradient2);
    -webkit-background-clip: text;
            background-clip: text;

    font-size: 2.625 * $font-size;
    font-weight: 700;
    line-height: 1.15;

    @include sm {
      margin-bottom: 20px;

      font-size: 2 * $font-size;
    }
    -webkit-text-fill-color: transparent;
            text-fill-color: transparent;
  }
  &__page-link {
    display: flex;
    align-items: center;

    margin-bottom: 5px;

    letter-spacing: 1px;
    text-transform: uppercase;

    color: $color-active;

    font-size: 14px;
    font-weight: 700;
  }
  &__content {
    column-count: 3;
    @include xl {
      column-count: 2;
    }
    @include md {
      column-count: 1;
    }
    @include md {
      display: flex;
      flex-direction: column;
    }
  }
  &::after {
    position: absolute;
    top: 670px;
    right: 0;
    bottom: 0;
    left: 0;

    content: "";

    background: linear-gradient(180deg, rgba(245, 245, 250, 0) 0%, $color-gray-bg 86.5%);

    @include lg {
      display: none;
    }
  }
}
