@use "../../../presets" as *;
@use "../../../mixins" as *;

.page-header {
  position: relative;

  background: linear-gradient($bg-gradient1);

  @include page-header;
  &::before {
    content: "";

    background-image: url(../img/Frame2.svg);
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: 86.4vh;

    @include abs-position;
    @include md {
      display: none;
    }
  }

  &::after {
    content: "";

    background: linear-gradient(to top, $color-primary 0%, transparent 100%);

    @include abs-position(75%);
  }

  &__content {
    position: relative;

    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;

    min-height: 100vh;

    &-title {
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;

      width: min(100% - $gap-xl, 620px);
      margin: 0;

      transform: translate(-50%, -50%);
      text-align: center;

      color: $color-white;

      font-family: "TT Norms";
      font-size: 38px;
      font-weight: 500;
      line-height: 45px;
    }
    &-image {
      transform: translate(4px, 29.2%);
      @media (min-height: 800px) {
        height: 62vh;
      }
    }
  }

  &__button {
    position: absolute;
    z-index: 2;
    bottom: $gap;
    left: 50%;

    cursor: pointer;
    transform: translateX(-50%);
  }
}
