@use "../presets" as *;
@use "extends" as *;
@use "../mixins/mixins-media" as *;
@use "../mixins/mixins" as *;

//page-header dark
@mixin page-header {
  &__grid {
    position: relative;
    z-index: 2;
    top: 0;
    right: 0;
    left: 0;

    display: grid;

    @extend %container;
    gap: $gap $gap;
    grid-template-columns: auto 1fr;
    @include sm-min {
      align-items: start;

      padding-top: 50px;

      grid-template-areas: "logo actions" "logo menu";
    }
    @include sm {
      padding-top: $gap;

      grid-template-areas: "actions actions" "logo menu";
    }
  }
  &__logo {
    grid-area: logo;
  }
  &__menu {
    grid-area: menu;
  }
  &__actions {
    grid-area: actions;
  }
}


//page-header menu dark
@mixin menu-dark {
  &__btn {
    position: relative;

    width: 30px;
    height: 22.5px;
    margin-left: auto;

    cursor: pointer;
    transition: 0.5s ease-in-out;
    transform: rotate(0deg);

    @include md-min {
      display: none;
    }
    &-row {
      position: absolute;
      left: 0;

      display: block;

      width: 100%;
      height: 3px;

      transition: 0.25s ease-in-out;
      transform: rotate(0deg);

      opacity: 1;
      border-radius: 3px;
      background: $color-white;
      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2) {
        top: 9px;
      }

      &:nth-child(3) {
        top: 18px;
      }
    }
    &.-active span {
      &:nth-child(1) {
        top: 9px;

        transform: rotate(135deg);
      }
      &:nth-child(2) {
        left: -30px;

        opacity: 0;
      }
      &:nth-child(3) {
        top: 9px;

        transform: rotate(-135deg);
      }
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    gap: $gap-md;
    @include unlist;
    @include md {
      position: absolute;
      top: 100%;
      right: 0;


      display: none;

      padding: $gap-lg;

      background-color: $color-primary;
      box-shadow: -5px 5px 10px $color-black;
    }
    @include sm {
      left: 0;
      text-align: center;
    }
  }

  &__link {
    display: block;

    padding: 0.25em 0;

    color: $color-white;

    font-size: 18px;
    &.-active {
      text-decoration: underline;
    }
  }
}


//page-header logo
@mixin logo {
  &__image {
    @include lg {
      width: 88px;
    }
  }
}

//page-header actions dark

@mixin actions-dark {
  display: flex;
  align-items: center;

  gap: $gap;
  @include sm-min {
    justify-content: flex-end;
    a {
      color: $color-white;
    }
  }
  @include sm {
    justify-content: space-between;
    a {
      color: $color-gray-bg-text;
    }
  }

  &__languages {
    display: flex;

    letter-spacing: 1px;

    font-size: 12px;
    font-weight: 700;

    gap: 3px;

    &-link {
      padding: 5px 6px;

      border-radius: 8px;
      &.-active {
        color: $color-white;
        background: $color-accent;
      }
    }
  }
  &__locations {
    @include md {
      display: none;
    }
    &-link {
      font-weight: 400;
      font-style: normal;
    }
  }
  &__phones {
    &-link {
      font-weight: 700;
    }
  }
  &__socials {
    @include lg {
      display: none;
    }
  }
}


//services
@mixin services {
  position: relative;

  border-radius: 0 0 12px 12px;
  background: linear-gradient($bg-gradient2);

  &::before {
    position: absolute;
    z-index: 1;
    top: 100%;
    right: $gap;
    left: $gap;

    height: $gap-sm;

    content: "";

    border-radius: 0 0 12px 12px;
    background: #cacadb;
  }
  &::after {
    position: absolute;
    top: 100%;
    right: $gap-xl;
    left: $gap-xl;

    height: $gap;

    content: "";

    border-radius: 0 0 12px 12px;
    background: #e7e7f2;
  }
  &__title-hidden {
    @include visually-hidden;
  }
  &__page-link {
    display: flex;

    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;

    opacity: 0.5;
    color: $color-white;

    font-size: 0.875 * $font-size;

    gap: 2px;
  }
  &__container {
    @extend %container;
  }
  &__title {
    width: min-content;
    width: 100%;
    padding-bottom: 60px;

    background: linear-gradient($text-gradient2);
    -webkit-background-clip: text;
            background-clip: text;

    font-size: 2.625 * $font-size;

    @include md {
      padding-bottom: 20px;

      font-size: 2 * $font-size;
      line-height: 38px;
    }
    -webkit-text-fill-color: transparent;
            text-fill-color: transparent;
  }
  &__grid {
    display: grid;
    align-items: stretch;

    gap: $gap-xl;
    grid-template-columns: repeat(3, 1fr);
    @include xl {
      grid-template-columns: repeat(2, 1fr);
    }
    @include md {
      padding-bottom: 20px;

      gap: $gap-xl;
      grid-template-columns: 1fr;
    }
  }
}

//services-item


@mixin services-item {
  display: flex;
  flex-direction: column;

  gap: $gap-md;
  @include sm {
    display: grid;
    align-items: center;

    gap: $gap-sm;
    grid-template-areas: "icon title" "des des";
    grid-template-columns: 64px 1fr;
  }

  &__title {
    color: $color-active;

    font-family: "TT Norms";
    font-size: 1.5  * $font-size;
    line-height: 28px;

    @include sm {
      font-size: 1.125  * $font-size;
      line-height: 21px;

      grid-area: title;
    }
  }

  &__description {
    color: $color-white;

    font-family: "TT Norms";
    font-size: 1.125 * $font-size;
    line-height: 26px;

    @include sm {
      font-size: $font-size;
      line-height: 22px;

      grid-area: des;
    }
  }
  &__icon {
    order: -1;

    @include sm {
      grid-area: icon;
    }
  }
  &__image {
    width: 64px;
    height: 64px;

    border-radius: 18px;
  }
}

// cases
@mixin cases {
  &__container {
    margin-bottom: 30px;

    border-radius: 12px;
    background-color: $color-gray-bg;

    @extend %container;
  }
  &__title-hidden {
    @include visually-hidden;
  }
  &__title {
    padding: 20px 20px 20px 20px;

    letter-spacing: 1px;
    text-transform: uppercase;

    color: $color-accent;
    border: 1px solid $color-white;

    font-size: 0.875 * $font-size;
    font-weight: 700;

    grid-column-end: 1;
    grid-column-start: 1;
    grid-row-end: 1;
    grid-row-start: 1;
  }
  &__wrapper-up {
    display: grid;
    align-items: end;

    grid-template-columns: 1fr 1.05fr 1fr;
    @include md {
      grid-template-columns: 1fr;
    }
  }
  &__wrapper-down {
    display: grid;
    align-items: end;

    grid-template-columns: 1fr 1.42fr 1.71fr;
    @include md {
      grid-template-columns: 1fr;
    }
  }
  &__hillel {
    @include md-min {
      grid-column-end: 1;
      grid-column-start: 1;
      grid-row-end: 2;
      grid-row-start: 2;
    }
  }
  &__preparation {
    @include md-min {
      grid-column-end: 2;
      grid-column-start: 2;
      grid-row-end: 4;
      grid-row-start: 1;
    }
  }
  &__tapgerine {
    @include md-min {
      grid-column-end: 3;
      grid-column-start: 3;
      grid-row-end: 4;
      grid-row-start: 1;
    }
  }
}

// cases-items

@mixin cases-items {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;

  height: 100%;
  padding: 20px;

  border: 1px solid $color-white;

  gap: $gap;

  &-description {
    color: $color-primary-soft;

    font-size: 1.5 * $font-size;
    line-height: 1.19;

    @include lg {
      font-size: 1.125 * $font-size;
    }
  }
  &-caption {
    color: $color-gray-bg-text;

    font-size: 1.125 * $font-size;
  }
}

//clients
@mixin clients {
  &__container {
    max-width: 100vw;
  }
  &__title-hidden {
    @include visually-hidden;
  }
  &__title {
    padding-bottom: 30px;

    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: $color-primary;

    font-size: 14px;
    font-weight: 700;
  }
  &__content {
    display: grid;

    grid-template-columns: repeat(4, 25%);
    @include lg {
      grid-template-columns: repeat(3, 33.333%);
    }
    @include md {
      grid-template-columns: repeat(2, 50%);
    }
    justify-items: stretch;
  }
}

//footer

@mixin footer {
  background-color: $color-gray-bg;
  &__wraper {
    display: flex;
    flex-direction: column;

    gap: $gap;
  }

  &__copyrate {
    text-align: right;
    text-align: center;

    color: $color-gray-bg-text;

    font-size: $font-size;
    font-weight: 400;
    line-height: 1.15;
  }
}
//footer-locations

@mixin footer-locations {
  display: flex;
  align-items: center;

  gap: 45px;
  @include xs {
    flex-direction: column;

    gap: $gap-sm;
  }
  &__adress {
    color: $color-primary;

    font-size: $font-size;
    font-weight: 400;
    font-style: normal;
    line-height: 19px;
  }
  &__link {
    letter-spacing: 1px;
    text-transform: uppercase;

    font-size: 0.75 * $font-size;
    font-weight: 700;
    line-height: 14px;
  }
}

//footer-contacts
@mixin footer-contacts {
  display: flex;
  align-items: center;

  gap: $gap;
  @include xs {
    flex-direction: column;

    gap: $gap;
  }

  &__phones {
    color: $color-primary-alt;

    font-size: $font-size;
    font-weight: 700;
    line-height: 1.15;
  }

  &__emails {
    font-size: $font-size;
    font-weight: 700;
    line-height: 1.15;
  }
}
