html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

@font-face {
  font-family: "TT Norms";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/TTNorms-Bold.eot");
  src: local("TT Norms Bold"), local("TTNorms-Bold"), url("../fonts/TTNorms-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/TTNorms-Bold.woff2") format("woff2"), url("../fonts/TTNorms-Bold.woff") format("woff"), url("../fonts/TTNorms-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "TT Norms";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/TTNorms-Medium.eot");
  src: local("TT Norms Medium"), local("TTNorms-Medium"), url("../fonts/TTNorms-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/TTNorms-Medium.woff2") format("woff2"), url("../fonts/TTNorms-Medium.woff") format("woff"), url("../fonts/TTNorms-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "TT Norms";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/TTNorms-Regular.eot");
  src: local("TT Norms Regular"), local("TTNorms-Regular"), url("../fonts/TTNorms-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/TTNorms-Regular.woff2") format("woff2"), url("../fonts/TTNorms-Regular.woff") format("woff"), url("../fonts/TTNorms-Regular.ttf") format("truetype");
}

.services-footer__container,
.services-cases__container,
.services-hero__container,
.services-header__grid,
.page-footer__container,
.cards__container,
.cases__container,
.team__container,
.team__indicators,
.services__container,
.experience__container,
.page-header__grid {
  width: min(100% - 60px, 1320px);
  margin-inline: auto;
}

.slider__header.-active {
  background: linear-gradient(90.13deg, #ef8080 0.84%, #f0145a 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "TT Norms", sans-serif;
  font-size: 16px;
}

a {
  transition: 0.5s;
  text-decoration: none;
  color: #24a3ff;
}

a:hover {
  transform: translateY(-5px);
}

.-btn {
  transition: 0.5s;
}

.-btn:hover {
  transform: translateY(-5px);
}

.page-header {
  position: relative;
  background: linear-gradient(42deg, #323264 15%, #323264 51%, #7a425e 88%);
}

.page-header__grid {
  position: relative;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;
  display: grid;
  gap: 20px 20px;
  grid-template-columns: auto 1fr;
}

.page-header__logo {
  grid-area: logo;
}

.page-header__menu {
  grid-area: menu;
}

.page-header__actions {
  grid-area: actions;
}

.page-header::before {
  content: "";
  background-image: url(../img/Frame2.svg);
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: 86.4vh;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.page-header::after {
  content: "";
  background: linear-gradient(to top, #323264 0%, transparent 100%);
  position: absolute;
  top: 75%;
  right: 0;
  bottom: 0;
  left: 0;
}

.page-header__content {
  position: relative;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.page-header__content-title {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: min(100% - 40px, 620px);
  margin: 0;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
  font-family: "TT Norms";
  font-size: 38px;
  font-weight: 500;
  line-height: 45px;
}

.page-header__content-image {
  transform: translate(4px, 29.2%);
}

.page-header__button {
  position: absolute;
  z-index: 2;
  bottom: 20px;
  left: 50%;
  cursor: pointer;
  transform: translateX(-50%);
}

.menu__btn {
  position: relative;
  width: 30px;
  height: 22.5px;
  margin-left: auto;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  transform: rotate(0deg);
}

.menu__btn-row {
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 3px;
  transition: 0.25s ease-in-out;
  transform: rotate(0deg);
  opacity: 1;
  border-radius: 3px;
  background: #ffffff;
}

.menu__btn-row:nth-child(1) {
  top: 0;
}

.menu__btn-row:nth-child(2) {
  top: 9px;
}

.menu__btn-row:nth-child(3) {
  top: 18px;
}

.menu__btn.-active span:nth-child(1) {
  top: 9px;
  transform: rotate(135deg);
}

.menu__btn.-active span:nth-child(2) {
  left: -30px;
  opacity: 0;
}

.menu__btn.-active span:nth-child(3) {
  top: 9px;
  transform: rotate(-135deg);
}

.menu__list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu__link {
  display: block;
  padding: 0.25em 0;
  color: #ffffff;
  font-size: 18px;
}

.menu__link.-active {
  text-decoration: underline;
}

.actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.actions__languages {
  display: flex;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 700;
  gap: 3px;
}

.actions__languages-link {
  padding: 5px 6px;
  border-radius: 8px;
}

.actions__languages-link.-active {
  color: #ffffff;
  background: #f0145a;
}

.actions__locations-link {
  font-weight: 400;
  font-style: normal;
}

.actions__phones-link {
  font-weight: 700;
}

.experience {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #323264;
}

.experience__title {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.slider {
  display: flex;
}

.slider__headers {
  position: relative;
  display: flex;
  flex-basis: 0;
  flex-direction: column;
  flex-grow: 2;
  gap: 20px;
}

.slider__header {
  position: relative;
  user-select: none;
  color: #b3b3ba;
}

.slider__header.-active {
  display: block;
}

.slider__notes {
  display: flex;
  align-items: center;
  flex-basis: 0;
  flex-grow: 3;
  margin-bottom: 10px;
  color: #ffffff;
}

.slider__note {
  position: absolute;
  z-index: -100;
  max-width: 600px;
  opacity: 0;
}

.slider__note.-active {
  position: static;
  z-index: inherit;
  opacity: 1;
}

.slider__title {
  line-height: 38px;
}

.slider__description {
  font-size: 21px;
  line-height: 30px;
}

.slider__indicators {
  display: flex;
  justify-content: center;
  gap: 14px;
}

.slider__indicator {
  width: 16px;
  height: 16px;
  opacity: 0.2;
  border-radius: 8px;
  background-color: #24a3ff;
}

.slider__indicator.-active {
  opacity: 1;
}

.services {
  margin-bottom: 60px;
  padding-bottom: 80px;
  position: relative;
  border-radius: 0 0 12px 12px;
  background: linear-gradient(215deg, #323264 12%, #323264 57%, #643e72 87%);
}

.services::before {
  position: absolute;
  z-index: 1;
  top: 100%;
  right: 20px;
  left: 20px;
  height: 10px;
  content: "";
  border-radius: 0 0 12px 12px;
  background: #cacadb;
}

.services::after {
  position: absolute;
  top: 100%;
  right: 40px;
  left: 40px;
  height: 20px;
  content: "";
  border-radius: 0 0 12px 12px;
  background: #e7e7f2;
}

.services__title-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.services__page-link {
  display: flex;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  opacity: 0.5;
  color: #ffffff;
  font-size: 14px;
  gap: 2px;
}

.services__title {
  width: min-content;
  width: 100%;
  padding-bottom: 60px;
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 42px;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

.services__grid {
  display: grid;
  align-items: stretch;
  gap: 40px;
  grid-template-columns: repeat(3, 1fr);
}

.services-item {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.services-item__title {
  color: #24a3ff;
  font-family: "TT Norms";
  font-size: 24px;
  line-height: 28px;
}

.services-item__description {
  color: #ffffff;
  font-family: "TT Norms";
  font-size: 18px;
  line-height: 26px;
}

.services-item__icon {
  order: -1;
}

.services-item__image {
  width: 64px;
  height: 64px;
  border-radius: 18px;
}

.team__container {
  border-radius: 12px;
  background-color: #f5f5fa;
}

.team__content {
  display: grid;
  column-gap: 40px;
  grid-template-areas: "pic link""pic quote""pic cap";
}

.team__title {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.team__flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.team__page-link {
  display: flex;
  padding-top: 40px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24a3ff;
  font-size: 14px;
  gap: 9px;
  grid-area: link;
}

.team__picture {
  grid-area: pic;
}

.team__image {
  height: 100%;
}

.team__picture-mini {
  grid-area: picm;
}

.team__image-mini {
  display: none;
}

.team__quote {
  grid-area: quote;
}

.team__quote-text {
  width: min-content;
  width: 100%;
  padding-right: 40px;
  padding-bottom: 20px;
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.15;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

.team__caption {
  display: flex;
  flex-direction: column;
  color: #b3b3ba;
  gap: 5px;
  grid-area: cap;
}

.team__caption-name {
  font-size: 18px;
  font-weight: 400;
}

.team__indicators {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  gap: 15px;
}

.team__indicator {
  width: 16px;
  height: 16px;
  margin-bottom: 40px;
  opacity: 0.2;
  border-radius: 8px;
  background-color: #24a3ff;
}

.team__indicator.-active {
  opacity: 1;
}

.cases__container {
  margin-bottom: 30px;
  border-radius: 12px;
  background-color: #f5f5fa;
}

.cases__title-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.cases__title {
  padding: 20px 20px 20px 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #f0145a;
  border: 1px solid #ffffff;
  font-size: 14px;
  font-weight: 700;
  grid-column-end: 1;
  grid-column-start: 1;
  grid-row-end: 1;
  grid-row-start: 1;
}

.cases__wrapper-up {
  display: grid;
  align-items: end;
  grid-template-columns: 1fr 1.05fr 1fr;
}

.cases__wrapper-down {
  display: grid;
  align-items: end;
  grid-template-columns: 1fr 1.42fr 1.71fr;
}

.cases__items {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  padding: 20px;
  border: 1px solid #ffffff;
  gap: 20px;
}

.cases__items-description {
  color: #686887;
  font-size: 24px;
  line-height: 1.19;
}

.cases__items-caption {
  color: #b3b3ba;
  font-size: 18px;
}

.clients__container {
  max-width: 100vw;
}

.clients__title-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.clients__title {
  padding-bottom: 30px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323264;
  font-size: 14px;
  font-weight: 700;
}

.clients__content {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  justify-items: stretch;
}

.cards-items {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  border-radius: 8px;
  background-color: #ffffff;
  gap: 10px;
}

.cards-items__title {
  padding: 20px;
  color: #24a3ff;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.cards-items__data {
  padding: 0 20px 20px 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #b3b3ba;
  font-size: 12px;
  font-weight: 700;
}

.cards-items__description {
  margin: 0 20px 20px 20px;
  padding-top: 16px;
  color: #000000;
  border-top: 4px solid #e6e6f0;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.cards-items__button {
  position: absolute;
  z-index: 9900;
  bottom: 40px;
  left: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  background: #24a3ff;
  box-shadow: 0 0 20px rgba(36, 163, 255, 0.5);
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
}

.cards-items__link {
  padding: 16px 78.5px 17px 78.5px;
  color: #ffffff;
}

.cards-items__picture {
  order: -1;
  padding: 0;
}

.cards-items__image {
  width: 100%;
}

.cards {
  position: relative;
  padding-top: 40px;
  background-color: #f5f5fa;
}

.cards__title-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.cards__title {
  width: max-content;
  margin-bottom: 40px;
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.15;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

.cards__page-link {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24a3ff;
  font-size: 14px;
  font-weight: 700;
}

.cards__content {
  column-count: 3;
}

.cards::after {
  position: absolute;
  top: 670px;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  background: linear-gradient(180deg, rgba(245, 245, 250, 0) 0%, #f5f5fa 86.5%);
}

.page-footer {
  background-color: #f5f5fa;
}

.page-footer__wraper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.page-footer__copyrate {
  text-align: right;
  text-align: center;
  color: #b3b3ba;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.15;
}

.page-footer__container {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 40px;
  border-top: 4px solid #e6e6f0;
}

.locations {
  display: flex;
  align-items: center;
  gap: 45px;
}

.locations__adress {
  color: #323264;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 19px;
}

.locations__link {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
}

.contact {
  display: flex;
  align-items: center;
  gap: 20px;
}

.contact__phones {
  color: #46466e;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.15;
}

.contact__emails {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.15;
}

.services-header {
  background: linear-gradient(172deg, #323264 12%, #323264 57%);
}

.services-header__grid {
  position: relative;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;
  display: grid;
  gap: 20px 20px;
  grid-template-columns: auto 1fr;
}

.services-header__logo {
  grid-area: logo;
}

.services-header__menu {
  grid-area: menu;
}

.services-header__actions {
  grid-area: actions;
}

.services-logo {
  display: flex;
}

.services-logo__breadcrumbs {
  display: flex;
  padding-bottom: 75px;
}

.services-logo__breadcrumbs-text {
  color: #ffffff;
  font-size: 38px;
  font-weight: 400;
  font-style: normal;
}

.services-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.services-actions__languages {
  display: flex;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 700;
  gap: 3px;
}

.services-actions__languages-link {
  padding: 5px 6px;
  border-radius: 8px;
}

.services-actions__languages-link.-active {
  color: #ffffff;
  background: #f0145a;
}

.services-actions__locations-link {
  font-weight: 400;
  font-style: normal;
}

.services-actions__phones-link {
  font-weight: 700;
}

.services-menu {
  padding-bottom: 75px;
}

.services-menu__btn {
  position: relative;
  width: 30px;
  height: 22.5px;
  margin-left: auto;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  transform: rotate(0deg);
}

.services-menu__btn-row {
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 3px;
  transition: 0.25s ease-in-out;
  transform: rotate(0deg);
  opacity: 1;
  border-radius: 3px;
  background: #ffffff;
}

.services-menu__btn-row:nth-child(1) {
  top: 0;
}

.services-menu__btn-row:nth-child(2) {
  top: 9px;
}

.services-menu__btn-row:nth-child(3) {
  top: 18px;
}

.services-menu__btn.-active span:nth-child(1) {
  top: 9px;
  transform: rotate(135deg);
}

.services-menu__btn.-active span:nth-child(2) {
  left: -30px;
  opacity: 0;
}

.services-menu__btn.-active span:nth-child(3) {
  top: 9px;
  transform: rotate(-135deg);
}

.services-menu__list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-menu__link {
  display: block;
  padding: 0.25em 0;
  color: #ffffff;
  font-size: 18px;
}

.services-menu__link.-active {
  text-decoration: underline;
}

.services-hero {
  margin-bottom: 60px;
  padding-bottom: 40px;
  position: relative;
  border-radius: 0 0 12px 12px;
  background: linear-gradient(215deg, #323264 12%, #323264 57%, #643e72 87%);
}

.services-hero::before {
  position: absolute;
  z-index: 1;
  top: 100%;
  right: 20px;
  left: 20px;
  height: 10px;
  content: "";
  border-radius: 0 0 12px 12px;
  background: #cacadb;
}

.services-hero::after {
  position: absolute;
  top: 100%;
  right: 40px;
  left: 40px;
  height: 20px;
  content: "";
  border-radius: 0 0 12px 12px;
  background: #e7e7f2;
}

.services-hero__title-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.services-hero__page-link {
  display: flex;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  opacity: 0.5;
  color: #ffffff;
  font-size: 14px;
  gap: 2px;
}

.services-hero__title {
  width: min-content;
  width: 100%;
  padding-bottom: 60px;
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 42px;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

.services-hero__grid {
  display: grid;
  align-items: stretch;
  gap: 40px;
  grid-template-columns: repeat(3, 1fr);
}

.services-hero-item {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.services-hero-item__title {
  color: #24a3ff;
  font-family: "TT Norms";
  font-size: 24px;
  line-height: 28px;
}

.services-hero-item__description {
  color: #ffffff;
  font-family: "TT Norms";
  font-size: 18px;
  line-height: 26px;
}

.services-hero-item__icon {
  order: -1;
}

.services-hero-item__image {
  width: 64px;
  height: 64px;
  border-radius: 18px;
}

.services-cases__container {
  margin-bottom: 30px;
  border-radius: 12px;
  background-color: #f5f5fa;
}

.services-cases__title-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.services-cases__title {
  padding: 20px 20px 20px 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #f0145a;
  border: 1px solid #ffffff;
  font-size: 14px;
  font-weight: 700;
  grid-column-end: 1;
  grid-column-start: 1;
  grid-row-end: 1;
  grid-row-start: 1;
}

.services-cases__wrapper-up {
  display: grid;
  align-items: end;
  grid-template-columns: 1fr 1.05fr 1fr;
}

.services-cases__wrapper-down {
  display: grid;
  align-items: end;
  grid-template-columns: 1fr 1.42fr 1.71fr;
}

.services-cases__items {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  padding: 20px;
  border: 1px solid #ffffff;
  gap: 20px;
}

.services-cases__items-description {
  color: #686887;
  font-size: 24px;
  line-height: 1.19;
}

.services-cases__items-caption {
  color: #b3b3ba;
  font-size: 18px;
}

.services-clients__container {
  max-width: 100vw;
}

.services-clients__title-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.services-clients__title {
  padding-bottom: 30px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323264;
  font-size: 14px;
  font-weight: 700;
}

.services-clients__content {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  justify-items: stretch;
}

.services-footer {
  background-color: #f5f5fa;
}

.services-footer__wraper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.services-footer__copyrate {
  text-align: right;
  text-align: center;
  color: #b3b3ba;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.15;
}

.services-footer__container {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 40px;
}

.services-contact {
  display: flex;
  align-items: center;
  gap: 20px;
}

.services-contact__phones {
  color: #46466e;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.15;
}

.services-contact__emails {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.15;
}

.services-locations {
  display: flex;
  align-items: center;
  gap: 45px;
}

.services-locations__adress {
  color: #323264;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 19px;
}

.services-locations__link {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
}

@media (min-width: 576px) {
  .page-header__grid {
    align-items: start;
    padding-top: 50px;
    grid-template-areas: "logo actions""logo menu";
  }

  .actions {
    justify-content: flex-end;
  }

  .actions a {
    color: #ffffff;
  }

  .services-header__grid {
    align-items: start;
    padding-top: 50px;
    grid-template-areas: "logo actions""logo menu";
  }

  .services-actions {
    justify-content: flex-end;
  }

  .services-actions a {
    color: #ffffff;
  }
}

@media (min-width: 768px) {
  .menu__btn {
    display: none;
  }

  .slider {
    gap: 80px;
  }

  .slider__headers {
    align-items: flex-end;
  }

  .slider__headers::after {
    position: absolute;
    right: -42px;
    width: 4px;
    height: 100%;
    content: "";
    background-color: #e6e6f0;
  }

  .slider__header.-active::after {
    position: absolute;
    z-index: 1;
    top: 0;
    right: -42px;
    width: 4px;
    height: 100%;
    content: "";
    background-color: #f0145a;
  }

  .slider__description {
    font-size: 21px;
  }

  .slider__indicators {
    display: none;
  }

  .cases__hillel {
    grid-column-end: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 2;
  }

  .cases__preparation {
    grid-column-end: 2;
    grid-column-start: 2;
    grid-row-end: 4;
    grid-row-start: 1;
  }

  .cases__tapgerine {
    grid-column-end: 3;
    grid-column-start: 3;
    grid-row-end: 4;
    grid-row-start: 1;
  }

  .services-menu__btn {
    display: none;
  }

  .services-cases__hillel {
    grid-column-end: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 2;
  }

  .services-cases__preparation {
    grid-column-end: 2;
    grid-column-start: 2;
    grid-row-end: 4;
    grid-row-start: 1;
  }

  .services-cases__tapgerine {
    grid-column-end: 3;
    grid-column-start: 3;
    grid-row-end: 4;
    grid-row-start: 1;
  }
}

@media (min-height: 800px) {
  .page-header__content-image {
    height: 62vh;
  }
}

@media (min-width: 992px) {
  .slider__header {
    text-align: right;
    font-size: 42px;
  }

  .slider__title {
    font-size: 32px;
  }
}

@media (max-width: 1199.8px) {
  .services__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .team__image {
    width: 313px;
    height: 400px;
    margin-bottom: -4px;
  }

  .team__quote-text {
    font-size: 32px;
  }

  .cards-items__data {
    padding: 0 10px 10px 10px;
  }

  .cards-items__description {
    margin: 0 10px 10px 10px;
  }

  .cards__content {
    column-count: 2;
  }

  .services-hero__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 991.8px) {
  .actions__socials {
    display: none;
  }

  .logo__image {
    width: 88px;
  }

  .team__image {
    width: 283px;
    height: 100%;
  }

  .cases__items-description {
    font-size: 18px;
  }

  .clients__content {
    grid-template-columns: repeat(3, 33.333%);
  }

  .cards-items.-bg {
    background-color: #f5f5fa;
  }

  .cards::after {
    display: none;
  }

  .page-footer__container {
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }

  .services-logo__image {
    width: 88px;
  }

  .services-logo__breadcrumbs {
    padding-bottom: 20px;
  }

  .services-logo__breadcrumbs-text {
    font-size: 19px;
  }

  .services-logo__breadcrumbs-img {
    width: 22px;
    height: 24px;
  }

  .services-actions__socials {
    display: none;
  }

  .services-cases__items-description {
    font-size: 18px;
  }

  .services-clients__content {
    grid-template-columns: repeat(3, 33.333%);
  }

  .services-footer__container {
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
}

@media (max-width: 991.8px) and (min-width: 768px) {
  .slider__header {
    text-align: right;
    font-size: 32px;
  }

  .slider__title {
    margin-bottom: 20px;
    font-size: 28px;
  }
}

@media (max-width: 767.8px) {
  .page-header::before {
    display: none;
  }

  .menu__list {
    position: absolute;
    top: 100%;
    right: 0;
    display: none;
    padding: 30px;
    background-color: #323264;
    box-shadow: -5px 5px 10px #000000;
  }

  .actions__locations {
    display: none;
  }

  .slider {
    flex-direction: column;
  }

  .slider__header {
    display: none;
    width: min-content;
    margin-bottom: 10px;
    white-space: nowrap;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 17px;
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .slider__title {
    margin-bottom: 15px;
    font-size: 22px;
  }

  .slider__description {
    margin-bottom: 20px;
    font-size: 18px;
  }

  .services__title {
    padding-bottom: 20px;
    font-size: 32px;
    line-height: 38px;
  }

  .services__grid {
    padding-bottom: 20px;
    gap: 40px;
    grid-template-columns: 1fr;
  }

  .team__content {
    padding: 0 0 20px 20px;
    column-gap: 0;
  }

  .team__flex {
    display: grid;
    gap: 10px;
    grid-template-areas: "link link""quote quote""picm cap";
    grid-template-columns: 60px 1fr;
  }

  .team__page-link {
    padding-top: 20px;
  }

  .team__image {
    display: none;
  }

  .team__image-mini {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 120px;
  }

  .team__quote-text {
    padding-right: 0;
    padding-bottom: 10px;
  }

  .team__caption {
    gap: 0;
  }

  .cases__wrapper-up {
    grid-template-columns: 1fr;
  }

  .cases__wrapper-down {
    grid-template-columns: 1fr;
  }

  .clients__content {
    grid-template-columns: repeat(2, 50%);
  }

  .cards-items__button {
    left: 34%;
  }

  .cards__content {
    column-count: 1;
  }

  .cards__content {
    display: flex;
    flex-direction: column;
  }

  .services-actions__locations {
    display: none;
  }

  .services-menu {
    padding-bottom: 0;
  }

  .services-menu__list {
    position: absolute;
    top: 100%;
    right: 0;
    display: none;
    padding: 30px;
    background-color: #323264;
    box-shadow: -5px 5px 10px #000000;
  }

  .services-hero__title {
    padding-bottom: 20px;
    font-size: 32px;
    line-height: 38px;
  }

  .services-hero__grid {
    padding-bottom: 20px;
    gap: 40px;
    grid-template-columns: 1fr;
  }

  .services-cases__wrapper-up {
    grid-template-columns: 1fr;
  }

  .services-cases__wrapper-down {
    grid-template-columns: 1fr;
  }

  .services-clients__content {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (max-width: 575.8px) {
  .page-header__grid {
    padding-top: 20px;
    grid-template-areas: "actions actions""logo menu";
  }

  .menu__list {
    left: 0;
    text-align: center;
  }

  .actions {
    justify-content: space-between;
  }

  .actions a {
    color: #b3b3ba;
  }

  .services-item {
    display: grid;
    align-items: center;
    gap: 10px;
    grid-template-areas: "icon title""des des";
    grid-template-columns: 64px 1fr;
  }

  .services-item__title {
    font-size: 18px;
    line-height: 21px;
    grid-area: title;
  }

  .services-item__description {
    font-size: 16px;
    line-height: 22px;
    grid-area: des;
  }

  .services-item__icon {
    grid-area: icon;
  }

  .cards-items.-first {
    order: -3;
  }

  .cards-items.-second {
    order: -2;
  }

  .cards-items.-none {
    display: none;
  }

  .cards-items__data {
    padding: 0 10px 20px 20px;
  }

  .cards-items__description.-none {
    display: none;
  }

  .cards-items__button {
    position: static;
    max-width: 250px;
    margin-inline: auto;
  }

  .cards-items__picture.-none {
    display: none;
  }

  .cards__title {
    margin-bottom: 20px;
    font-size: 32px;
  }

  .services-header__grid {
    padding-top: 20px;
    grid-template-areas: "actions actions""logo menu";
  }

  .services-actions {
    justify-content: space-between;
  }

  .services-actions a {
    color: #b3b3ba;
  }

  .services-menu__list {
    left: 0;
    text-align: center;
  }

  .services-hero-item {
    display: grid;
    align-items: center;
    gap: 10px;
    grid-template-areas: "icon title""des des";
    grid-template-columns: 64px 1fr;
  }

  .services-hero-item__title {
    font-size: 18px;
    line-height: 21px;
    grid-area: title;
  }

  .services-hero-item__description {
    font-size: 16px;
    line-height: 22px;
    grid-area: des;
  }

  .services-hero-item__icon {
    grid-area: icon;
  }
}

@media (max-width: 479.8px) {
  .locations {
    flex-direction: column;
    gap: 10px;
  }

  .contact {
    flex-direction: column;
    gap: 20px;
  }

  .services-contact {
    flex-direction: column;
    gap: 20px;
  }

  .services-locations {
    flex-direction: column;
    gap: 10px;
  }
}