$color-primary: #323264;
$color-primary-alt: #46466e;
$color-primary-soft: #686887;
$color-accent: #f0145a;
$color-active: #24a3ff;
$color-active-hover: #0085ff;
$color-active-active: #006ccf;
$color-gray-bg: #f5f5fa;
$color-gray-bg-alt: #ededf7;
$color-gray-bg-text: #b3b3ba;
$color-gray-bg-separator: #e6e6f0;
$color-white: #ffffff;
$color-black: #000000;
$bg-gradient1: 42deg, $color-primary 15%, $color-primary 51%, #7a425e 88%;
$bg-gradient2: 215deg, $color-primary 12%, $color-primary 57%, #643e72 87%;
$text-gradient1: 90.13deg, #ef8080 0.84%, $color-accent 99.96%;
$text-gradient2: 90.13deg, $color-accent 0.84%, #ef8080 99.96%;
$bg-gradient3: 172deg, #323264 12%, #323264 57%;